.navbarr {
  a {
    text-decoration: none;
    color: white;
  }
  &_section1 {
    padding: 0.23rem 10vw;
    font-weight: 100;
    color: #fff;
    font-size: 0.7rem;
    background-color: var(--bgcolor-primary);
    border-bottom: 1px solid #35982b;
  }
  &_section2 {
    padding: 1rem 10vw;
    font-weight: 100;
    color: #fff;
    font-size: 0.7rem;
    background-color: var(--bgcolor-primary);
  }
  &_search {
    display: flex;
    align-items: center;
    justify-content: stretch;
    @media (width <= 850px) {
      display: none;
    }
    input {
      padding: 3px 7px 4px 7px;
      font-size: 1.05rem;
      border: 1px solid black;
      &:focus {
        outline: none;
      }
    }
    select {
      padding: 4px 7px;
      border: 1px solid black;
      font-size: 1.05rem;
      border-left: none;
      background-color: #fff;
      outline: none;
    }
    &_icon {
      cursor: pointer;
      background-color: rgb(255, 208, 0);
      border: 1px #000 solid;
      border-left: none;
      padding: 2px 6px;
      svg {
      }
    }
  }
  &_section3 {
    padding: 0 10vw;
    background-color: var(--bgcolor-secondary);
    .assibi-dropdown--hoverable {
      position: relative;
      display: inline-block;
      background-color: inherit;

      .dropbtn {
        background-color: inherit;
        color: white;
        padding: 10px;
        font-size: 16px;
        border: none;
      }

      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        a {
          color: black;
          padding: 12px 16px;
          text-decoration: none;
          display: block;
        }

        a:hover {
          background-color: #ddd;
        }
      }

      &:hover .dropdown-content {
        display: block;
      }

      &:hover .dropbtn {
        opacity: 0.8;
      }
    }
  }
}
.tag {
  display: flex;
  align-items: center;
  gap: 5px;
}
